<div class="add-user-container">
    <mat-progress-bar *ngIf="loading" class="add-user-spinner" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Add User</h1>

    <form (keydown.enter)="$event.preventDefault()" #userForm="ngForm">

        <div mat-dialog-content class="add-user-content">
            <div class="double-container">
                <mat-form-field class="input-outline" appearance="outline">
                    <mat-label class="label">First Name</mat-label>
                    <input [disabled]="loading" [(ngModel)]="users.firstName" name="firstName" matInput
                        placeholder="First Name" required>
                </mat-form-field>

                <mat-form-field class="input-outline" appearance="outline">
                    <mat-label class="label">Last Name</mat-label>
                    <input [disabled]="loading" [(ngModel)]="users.lastName" name="lastName" matInput
                        placeholder="Last Name" required>
                </mat-form-field>
            </div>

            <mat-form-field class="input-outline" appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input [disabled]="loading" [(ngModel)]="users.email" name="email" matInput
                    placeholder="crm@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="input-outline" appearance="outline">
                <mat-label for="birthdate" class="label">Birthdate</mat-label>
                <input [disabled]="loading" [(ngModel)]="birthDate" id="birthDate" name="birthdate" matInput
                    [matDatepicker]="picker" [max]="getMaxDate()" required>
                <mat-datepicker-toggle class="date-picker" matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="input-outline" appearance="outline">
                <mat-label for="streetHouse" class="label">Street and House No.</mat-label>
                <input [disabled]="loading" [(ngModel)]="users.street" type="text" id="streetHouse" name="streetHouse"
                    matInput placeholder="Street and House No." required>
            </mat-form-field>

            <div class="double-container">
                <mat-form-field class="input-outline" appearance="outline">
                    <mat-label for="zipCode" class="label no-spinners">Zip Code</mat-label>
                    <input [disabled]="loading" [(ngModel)]="users.zipCode" type="number" id="zipCode" name="zipCode"
                        matInput placeholder="Zip Code" required>
                </mat-form-field>

                <mat-form-field class="input-outline" appearance="outline">
                    <mat-label for="city" class="label">City</mat-label>
                    <input [disabled]="loading" [(ngModel)]="users.city" type="text" id="city" name="city" matInput
                        placeholder="City" required>
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions>
            <button (click)="onNoClick()" mat-button>Cancel</button>
            <button mat-button cdkFocusInitial (click)="addNewUser()"
                [disabled]="userForm.invalid || loading">Save</button>
        </div>

    </form>
</div>