<div class="kanban" [ngStyle]="{'max-width': '1000px'}">

    <div class="kanban-header">
        <h1><mat-icon>view_kanban</mat-icon>Products kanban</h1>
        <div class="search-container">
            <input [(ngModel)]="input" (ngModelChange)="filterData()" class="input-search" placeholder="Search"
                type="text">
            <button (click)="filterData()">
                <img src="../../assets/imgs/icons/search-icon.png" alt="Search Icon">
            </button>
        </div>
    </div>


    <div class="kanban-topics">
        <mat-card class="kanban-container" cdkDropList (cdkDropListDropped)="drop($event)">
            <mat-card-content class="kanban-topic">
                <h3>Pending</h3>
            </mat-card-content>

            <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="pendingArray"
                [cdkDropListConnectedTo]="[doneList, inProgressList]" (cdkDropListDropped)="drop($event)" id="pending">

                <div class="kanban-topic-lists">

                    <div class="product" cdkDrag *ngFor="let purchase of pendingArray">

                        <mat-icon (click)="openStateDialog(purchase, doneList, inProgressList)" class="swap-state">swap_vert</mat-icon>

                        <div class="purchase-container">
                            <p>{{ purchase.title }}</p> <br>
                            <p>{{ purchase.value | currency:'$ ':'code' }}</p>
                        </div>

                        <p><mat-icon>person</mat-icon>{{ getUserById(purchase.purchaseUser) }} </p>

                    </div>
                </div>

                <div class="empty-list" *ngIf="pendingArray.length === 0">No purchases pending</div>
            </div>
        </mat-card>


        <mat-card class="kanban-container" cdkDropList (cdkDropListDropped)="drop($event)">
            <mat-card-content class="kanban-topic">
                <h3>In progress</h3>
            </mat-card-content>

            <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgressArray"
                [cdkDropListConnectedTo]="[doneList, pendingList]" (cdkDropListDropped)="drop($event)" id="inProgress">

                <div class="kanban-topic-lists">
                    <div class="product" cdkDrag *ngFor="let purchase of inProgressArray">

                        <mat-icon (click)="openStateDialog(purchase, doneList, pendingList)" class="swap-state">swap_vert</mat-icon>

                        <div class="purchase-container">
                            <p>{{ purchase.title }}</p> <br>
                            <p>{{ purchase.value | currency:'$ ':'code' }}</p>
                        </div>

                        <p><mat-icon>person</mat-icon>{{ getUserById(purchase.purchaseUser) }} </p>

                    </div>
                </div>

                <div class="empty-list" *ngIf="inProgressArray.length === 0">No purchases in progress</div>
            </div>
        </mat-card>


        <mat-card class="kanban-container" cdkDropList (cdkDropListDropped)="drop($event)">
            <mat-card-content class="kanban-topic">
                <h3>Done</h3>
            </mat-card-content>

            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="doneArray"
                [cdkDropListConnectedTo]="[pendingList, inProgressList]" (cdkDropListDropped)="drop($event)" id="done">

                <div class="kanban-topic-lists">
                    <div class="product" cdkDrag *ngFor="let purchase of doneArray">

                        <mat-icon (click)="openStateDialog(purchase, pendingList, inProgressList)" class="swap-state">swap_vert</mat-icon>

                        <div class="purchase-container">
                            <p>{{ purchase.title }}</p> <br>
                            <p>{{ purchase.value | currency:'$ ':'code' }}</p>
                        </div>

                        <p><mat-icon>person</mat-icon>{{ getUserById(purchase.purchaseUser) }} </p>

                    </div>
                </div>

                <div class="empty-list" *ngIf="doneArray.length === 0">No purchases done</div>
            </div>
        </mat-card>
    </div>

</div>