.chart-container {
    background-color: #232632;
    box-shadow: 5px 0px 16px -8px rgba(0, 0, 0, 0.49);
    border-radius: 5px;
    padding: 20px;
    width: calc(100% - 290px);
    margin-top: 30px;
    margin-bottom: 10vh;

    @media (max-width: 850px) {
        width: unset;
    }

    span {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 15px;
    }
}


mat-card {
    background-color: #232632;
    box-shadow: 5px 0px 16px -8px rgba(0, 0, 0, 0.49);
    border-radius: 5px;
    width: auto;
    display: flex;
    justify-content: center;
    height: 100px;

    @media (max-width: 850px) {
        width: 50vw;
    }

    @media (max-width: 500px) {
        width: 50vw;
        width: 100%;

    }

    mat-card-content {
        display: flex;
        flex-direction: column;
        gap: 15px;

        span {
            display: flex;
            align-items: center;
            font-size: 1rem;
            gap: 10px;
        }

        p {
            text-align: center;
            font-size: 1rem;
            font-weight: bold;
            color: #64b7ff;
        }
    }
}

.card-container {
    position: absolute;
    right: 0;
    top: 0;
    gap: 30px;
    display: flex;
    flex-direction: column;

    @media (max-width: 850px) {
        position: relative;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 30px;
    }

    @media (max-width: 500px) {
        justify-content: unset;
        flex-direction: column;
    }
}

#chart {
    overflow-x: scroll;
    overflow-y: hidden;
}