<div>
    <div class="card-container">
        <mat-card class="p-absolute">
            <mat-card-content>
                <span><mat-icon>trending_up</mat-icon> Most Popular</span>
                <p>{{ mostPopularProduct }}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="p-absolute">
            <mat-card-content>
                <span><mat-icon>trending_down</mat-icon> Least Popular</span>
                <p>{{ leastPopularProduct }}</p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="chart-container">
        <span><mat-icon>storefront</mat-icon>Product sales</span>
        <div id="chart">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
                [fill]="chartOptions.fill"></apx-chart>
        </div>
    </div>
</div>