.edit-user-container {
    min-width: 500px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #232632;
    padding: 20px;
    box-sizing: border-box;

    h1 {
        color: #a698ff;
        font-size: 2rem;
        margin: 0;
        padding-bottom: 30px;
    }
}

.edit-user-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 10px;
    padding: 10px 0 0 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.double-container {
    display: flex;
    gap: 20px;

    div {
        display: flex;
        flex-direction: column;
    }
}

.input-outline {
    --mdc-outlined-text-field-outline-color: white;

    &:hover {
        --mdc-outlined-text-field-hover-outline-color: white;
    }

    input {
        color: white;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.462);
    }

    mat-label {
        color: white;
    }
}

input[type="date"] {
    color-scheme: dark;
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

button {
    color: #a698ff !important;
    transition: all 125ms ease-in-out;

    &:hover {
        background-color: #a698ff;
        color: #232632 !important;
    }
}

.date-picker {
    color: white;
}

.edit-user-spinner {
    position: absolute;
    top: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}