<div class="center">
    <mat-card class="login-container">

        <mat-progress-bar *ngIf="loading" class="spinner" mode="indeterminate"></mat-progress-bar>

        <img src="../../assets/imgs/crm-logo.png" alt="CRM logo">

        <h1>Login</h1>

        <form (ngSubmit)="signIn()" [formGroup]="loginForm" *ngIf="login">

            <mat-icon class="arrow-back" matTooltip="Login Options" (click)="login = false">arrow_back_ios</mat-icon>

            <div class="form-group">
                <mat-form-field class="input-outline" appearance="outline"
                    [class.mat-form-field-invalid]="userNotFound">
                    <mat-label type="email" for="email" class="label">Email</mat-label>
                    <input matInput type="email" id="email" formControlName="email" autocomplete="username" required>
                </mat-form-field>

                <div class="input-feedback"
                    *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                    Email is required.
                </div>
            </div>

            <div class="form-group">
                <mat-form-field class="input-outline" appearance="outline"
                    [class.mat-form-field-invalid]="userNotFound">
                    <mat-label type="password" for="password" class="label">Password</mat-label>
                    <input matInput type="password" id="password" formControlName="password"
                        autocomplete="current-password" required>
                </mat-form-field>

                <div class="input-feedback" id="passwordFeedback"
                    *ngIf="(loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) || userNotFound">
                    {{ userNotFound ? 'Invalid login credentials.' : 'Password is required.' }}
                </div>
            </div>

            <button type="submit" [disabled]="loginForm.invalid">Log in</button>
        </form>

        <div *ngIf="!login" class="select-login-container">
            <button (click)="login = true"><mat-icon>mail</mat-icon>Email/Password</button>

            <button (click)="signInAnonymously()"><mat-icon>admin_panel_settings</mat-icon>Guest Login</button>
        </div>

        <p>New here? <a routerLink="sign-up">Sign up</a></p>

    </mat-card>
</div>