<div class="center">
    <mat-card class="login-container">

        <mat-progress-bar *ngIf="loading" class="spinner" mode="indeterminate"></mat-progress-bar>

        <img src="../../assets/imgs/crm-logo.png" alt="CRM logo">

        <h1>{{ signUp ? 'Sign up' : 'Log in' }}</h1>

        <form (ngSubmit)="signUp ? signUpUser() : signIn()" [formGroup]="getForm()" *ngIf="!showLoginOptions">

            <mat-icon class="arrow-back" matTooltip="Login Options"
                (click)="loginOptionsReset()">arrow_back_ios</mat-icon>

            <div class="form-group">
                <mat-form-field class="input-outline" appearance="outline"
                    [class.mat-form-field-invalid]="userNotFound">
                    <mat-label type="email" for="email" class="label">Email</mat-label>
                    <input matInput type="email" id="email" formControlName="email" autocomplete="username" required>
                </mat-form-field>

                <div class="input-feedback"
                    *ngIf="getForm().get('email')?.hasError('required') && getForm().get('email')?.touched">
                    Email is required.
                </div>
            </div>

            <div class="form-group">
                <mat-form-field class="input-outline" appearance="outline"
                    [class.mat-form-field-invalid]="userNotFound">
                    <mat-label type="password" for="password" class="label">Password</mat-label>
                    <input matInput type="password" id="password" formControlName="password"
                        autocomplete="current-password" required>
                </mat-form-field>

                <div class="input-feedback" id="passwordFeedback"
                    *ngIf="getForm().get('password')?.hasError('pattern') && getForm().get('password')?.touched">
                    Password must contain at least one uppercase letter, one digit, and one special character.
                </div>
            </div>

            <div class="form-group" *ngIf="signUp">
                <mat-form-field class="input-outline" appearance="outline">
                    <mat-label type="password" for="confirmPassword" class="label">Confirm Password</mat-label>
                    <input matInput type="password" id="confirmPassword" formControlName="confirmPassword"
                        autocomplete="new-password" required>
                </mat-form-field>

                <div class="input-feedback"
                    *ngIf="getForm().hasError('passwordMismatch') && getForm().get('confirmPassword')?.touched">
                    Passwords do not match.
                </div>
            </div>

            <button type="submit" [ngClass]="{ 'disabled-button': getForm().invalid }" [disabled]="getForm().invalid">{{
                signUp ? 'Sign up' : 'Log in' }}</button>
        </form>

        <div *ngIf="showLoginOptions" class="select-login-container">
            <button (click)="showLoginOptions = false"><mat-icon>mail</mat-icon>Email/Password</button>

            <button (click)="signInAnonymously()"><mat-icon>admin_panel_settings</mat-icon>Guest Login</button>
        </div>

        <p [ngStyle]="{'padding-top': '20px'}" *ngIf="signUp">Already have an account? <a href="#"
                (click)="alreadyUser()">Log in</a></p>
        <p [ngStyle]="{'padding-top': '20px'}" *ngIf="!signUp">New here? <a href="#" (click)="setNewUser()">Sign up</a></p>

    </mat-card>
</div>