<div class="center">
    <mat-card class="signup-container">

        <mat-progress-bar *ngIf="loading" class="spinner" mode="indeterminate"></mat-progress-bar>

        <img src="../../assets/imgs/crm-logo.png" alt="CRM logo">
        <h1>Sign up</h1>

        <form (ngSubmit)="signUp()" [formGroup]="signupForm">

            <div class="form-group">
                <mat-form-field class="input-outline" appearance="outline">
                    <mat-label type="email" for="email" class="label">Email</mat-label>
                    <input matInput type="email" id="email" formControlName="email" autocomplete="username" required>
                </mat-form-field>

                <div class="input-feedback"
                    *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.hasError('email')">
                    Email must contain '@' and end with e.g. '.com'.
                </div>
            </div>

            <div class="form-group">
                <mat-form-field class="input-outline" appearance="outline">
                    <mat-label type="password" for="password" class="label">Password</mat-label>
                    <input matInput type="password" id="password" formControlName="password" autocomplete="new-password" required>
                </mat-form-field>
                <div class="input-feedback"
                    *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.hasError('invalidEmail')">
                    Password must be at least {{ signupForm.get('password')?.errors?.['minlength']?.requiredLength }}
                    characters long.
                </div>
            </div>

            <div class="form-group">
                <mat-form-field class="input-outline" appearance="outline">
                    <mat-label type="password" for="confirmPassword" class="label">Confirm Password</mat-label>
                    <input matInput type="password" id="confirmPassword" formControlName="confirmPassword" autocomplete="ne-password" required>
                </mat-form-field>

                <div class="input-feedback"
                    *ngIf="signupForm.hasError('passwordMismatch') && signupForm.get('confirmPassword')?.touched">
                    Passwords do not match.
                </div>
            </div>

            <button type="submit" [disabled]="signupForm.invalid">Sign up</button>
        </form>

        <p>Already have an account? <a href="/">Log in</a></p>

    </mat-card>
</div>