<div class="products-container" [ngStyle]="{'max-width': '1000px'}">
    <div class="products-header">

        <h1><mat-icon>inventory_2</mat-icon> Products</h1>
        <div class="search-container">
            <input class="input-search" placeholder="Search" type="text" [(ngModel)]="input"
                (ngModelChange)="filterData()">
            <button (click)="filterData()">
                <img src="../../assets/imgs/icons/search-icon.png" alt="Search Icon">
            </button>
        </div>
    </div>

    <div class="products-filter">
        <div [ngStyle]="{'width': '100%'}">
            <p>Filter by:</p>
            <div class="set-products-filter">
                <p (click)="sortByTitle()" [class.selected]="selectedFilter === 'title'" class="set-products-filter-p">Title</p>
                <p (click)="sortByType()" [class.selected]="selectedFilter === 'type'" class="set-products-filter-p">Type</p>
                <p (click)="sortByPrice()" [class.selected]="selectedFilter === 'price'" class="set-products-filter-p">Price</p>
            </div>
        </div>
    </div>

    <mat-card class="products-list">
        <mat-card-content>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Price</th>
                </tr>

                <tr *ngFor="let product of filteredData; let i = index" class="products-tr">
                    <td>{{ product.title }}</td>
                    <td>{{ product.type }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>