<div class="user-container" [ngStyle]="{'max-width': '1000px'}">
    <div class="user-header">

        <h1><mat-icon>group</mat-icon> User</h1>
        <div class="search-container">
            <input class="input-search" placeholder="Search" type="text" [(ngModel)]="input"
                (ngModelChange)="filterData()">
            <button (click)="filterData()">
                <img src="../../assets/imgs/icons/search-icon.png" alt="Search Icon">
            </button>
        </div>
    </div>

    <button (click)="openDialog()" matTooltip="Add a new user" class="add-user-btn" mat-fab color="primary">
        <mat-icon>add</mat-icon>
    </button>

    <div class="user-filter">
        <div [ngStyle]="{'width': '100%'}">
            <p>Filter by:</p>
            <div class="set-user-filter">
                <button class="set-user-filter-p" [class.selected]="selectedFilter === 'firstName'" (click)="sortUsersByFirstName()">First Name</button>
                <button class="set-user-filter-p" [class.selected]="selectedFilter === 'lastName'" (click)="sortUsersByLastName()">Last Name</button>
                <button class="set-user-filter-p" [class.selected]="selectedFilter === 'city'" (click)="sortUsersByCity()">City</button>
            </div>
        </div>
    </div>

    <mat-card class="user-list">
        <mat-card-content [ngStyle]="{'overflow-x': 'auto'}">
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>City</th>
                    <th>E-Mail</th>
                </tr>

                <tr class="user-tr" *ngFor="let user of filteredData; let i = index"
                    [routerLink]="['/user/' + user.id]">
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.city }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>

</div>