.user-container {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.user-header {
    border-radius: 5px;
    width: 100%;
    height: 100px;
    background-color: #6D5DD5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.48);

    @media (max-width: 500px) {
        padding: 0 15px;
    }

    h1 {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width: 500px) {
            font-size: 1.3rem;
            text-align: center;
        }
    }
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
        padding: 5px;
        border: 1px transparent;
        border-radius: 5px;
        box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.48);

        &:focus-visible {
            outline: 2px solid #64b7ff;
        }
    }

    button {
        all: unset;
        cursor: pointer;

        img {
            height: 20px;
        }
    }
}

.add-user-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #6D5DD5;
    cursor: pointer;
    z-index: 1;
}

.user-list {
    background-color: #232632;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.48);
    margin-bottom: 10vh;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 5px;
}

table {
    width: 100%;
    font-weight: 100;

    tr {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid #323647;
        transition: all 125ms ease-in-out;

        @media (max-width: 500px) {
            padding: 15px;
        }

        th,
        td {
            width: 100%;
            text-align: left;
        }
    }

    @media (max-width: 1400px) {
        tr th:nth-child(-n+3),
        tr td:nth-child(-n+3) {
            width: calc(100% - 160px);
        }
    }

    @media (max-width: 870px) {

        tr td:last-child,
        tr th:last-child {
            display: none;
        }
    }

    tr:nth-child(even) {
        background-color: #323647;
    }
}

tr:first-child {
    font-weight: 400;
    color: #64b7ff;
}

select {
    background-color: #232632;
    border: none;
    color: #ffffff75;

    &:focus-visible {
        outline: none;
    }
}

.user-tr:hover {
    background-color: #6D5DD5 !important;
    cursor: pointer;
}

// Filter
.user-filter {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 10px;
}

.set-user-filter {
    display: flex;
    gap: 20px;

    @media (max-width: 480px) {
        flex-direction: column;
        width: 100%;
    }
}

.reset-user-filter,
.set-user-filter-p {
    background-color: #232632;
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.48);
    cursor: pointer;
    width: 110px;
    text-align: center;
    transition: all 125ms ease-in-out;
    margin: 0;
    display: flex;
    justify-content: center;

    @media (max-width: 480px) {
        width: 100%;
        padding: 15px;
    }

    &:hover {
        background-color: #6D5DD5;
        cursor: pointer;
    }
}

.selected {
    background-color: #6D5DD5;
}